* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #7AB9D1;
}